* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #b84a76;
    /* MESMA COR DO H1 DAS PERGUNTAS FREQUENTES */
}

h2 {
    color: #994d73;
}


/*HOME*/
body {
    background-color: #fce4ec;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}



nav {
    background-color: #e2b9ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img-logo {
    height: 110px;
    width: 110px;
    margin-left: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0 40px;
}

nav ul li {
    margin-left: 32px;
}

nav ul li a {
    display: inline-block;
    cursor: pointer;
    color: #000000;
    transition: transform 0.2s ease;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 4px;
}

nav ul li a:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

nav ul li a:active {
    opacity: 0.6;
}

#img-logo:hover {
    transform: scale(1.1);
}

#mainHome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

#section-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section-conteudo h1 {
    font-size: 48px;
    margin-bottom: 20px;
    max-width: 600px;
}

#section-conteudo p {
    font-size: 18px;
    max-width: 500px;
}

#section-conteudo a {
    background-color: #e2b9ce;
    color: #000000;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 30px;
    box-shadow: 0 4px 6px;
}

#section-conteudo a:hover {
    transform: translateY(-2px);
}

#section-conteudo a:active {
    transform: translateY(-2px);
    box-shadow: 0 1px 2px;
}

#imagem-home {
    width: 400px;
    height: auto;
    border-radius: 10px;
}




.container-fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px;
}

.img_trabalho {
    width: 283px;
    height: 266px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease;

}

.img_trabalho:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

#h2Trabalhos {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2b9ce;
    padding-top: 20px;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    display: block;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.2s ease;
    display: inline-block;
}

footer ul li a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

footer ul li a:active {
    opacity: 0.6;
}

.footer-div {
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.linha {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #000000;
    margin-top: 15px;
}

.pThalita {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}








/*PAGINA DE SERVIÇO*/

#mainServicos {
    margin-top: 50px;
    flex: 1;
}

#h1Procedimentos {
    margin-bottom: 50px;
    font-size: 48px;
    text-align: center;
}

.tituloCard {
    margin: 10px 0 20px 0;
    font-size: 25px;
    text-align: center;
}

.descricaoCard {
    color: #000000;
    text-align: center;
    margin: 10px 10px 30px 10px;
    font-size: 20px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease;
    border: 1px solid #000000;
    border-radius: 10px;
    flex-basis: 45%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.imgServico {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
}

.detalhe {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #b45a87;
    color: #fdfcfc;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-bottom: 20px;
    margin-top: auto;
}

.detalhe:hover {
    opacity: 0.9;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}

.detalhe:active {
    background-color: #994d73;
    opacity: 0.7;
}







/*DRENAGEM FACIAL*/

.main-detalhamento {
    max-width: 70%;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-detalhamento h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.main-detalhamento h2 {
    margin-top: 25px;
    font-size: 20px;
    border-left: 4px solid #d986d9;
    padding-left: 10px;
}

.main-detalhamento p {
    margin: 12px 0;
    line-height: 1.6;
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}

.main-detalhamento ul {
    margin-top: 10px;
    padding-left: 20px;
}

.main-detalhamento ul li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #020101;
}




/*PERGUNTAS FREQUENTES*/

#pgt-page {
    max-width: 600px;
    margin: 80px auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px 40px;
}

#pgt-page h1 {
    text-align: center;
    color: #b84a76;
    font-size: 38px;
    margin-bottom: 30px;
    position: relative;
}

#pgt-page h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #ffc6d9;
    margin: 10px auto 0;
    border-radius: 5px;
}

#pgt-page .pgt-item {
    margin-bottom: 50px;
}

.pgt-item h2 {
    color: #b84a76;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.pgt-item details {
    margin-bottom: 15px;
    background-color: #fff5f8;
    border-radius: 10px;
    padding: 15px 20px;
    border: 1px solid #ffc6d9;
    transition: all 0.3s ease;
}

.pgt-item details:hover {
    box-shadow: 0 4px 12px rgba(184, 74, 118, 0.15);
}

.pgt-item summary {
    font-weight: 600;
    color: #5e3b4f;
    cursor: pointer;
    font-size: 17px;
}

.pgt-item summary:hover {
    color: #b84a76;
}

.pgt-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
}









/*CONTATO*/

.main-contato {
    max-width: 850px;
    margin: 40px auto;
    padding: 20px;
    background: #f8f0e7;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(180, 128, 181, 0.3);
    flex-grow: 1;
}

.main-contato h2 {
    font-size: 35px;
    color: #5e2a60;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.main-contato h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.main-contato p {
    font-size: 17px;
    margin-bottom: 12px;
    text-align: center;
    color: #4a2c51;
}

/* FORMULÁRIO */
.main-contato form {
    margin-top: 25px;
    background: #f7f0f5;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(75, 34, 75, 0.15);
    text-align: center;
}

.main-contato form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #4a2c51;
    text-align: left;
}

.main-contato form input,
.main-contato form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cdb7d9;
    border-radius: 5px;
    font-size: 16px;
    color: #4a2c51;
    background-color: #fff5fb;
}

/* BOTÃO CENTRALIZADO */
.main-contato form button {
    background: #5e2a60;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    margin-top: 10px;
}

.main-contato form button:hover {
    opacity: 0.9;
}


.avaliacao {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 5px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
    border: none;
}

.avaliacao legend {
    width: 100%;
    font-size: 1.5em;
    color: #4a2c51;
    text-align: center;
    margin-bottom: 10px;
}

.avaliacao input {
    display: none;
}

.avaliacao label i {
    font-size: 40px;
    color: #b6b4b4;
    cursor: pointer;
    transition: transform 0.2s;
}

.avaliacao label i:hover {
    transform: translateY(-10%);
}

.avaliacao input:checked~label i {
    color: #f1c40f;
}

.main-contato iframe {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}


/*CUIDADOS PÓS TRATAMENTOS*/

#mainCuidados {
    flex: 1;
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px 50px;
}

#mainCuidados header {
    text-align: center;
    margin-bottom: 30px;
}

#mainCuidados header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#mainCuidados header p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
}

#mainCuidados .cuidado-item {
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ffc6d9;
    transition: all 0.3s ease;
    overflow: hidden;
}


#mainCuidados .cuidado-item summary {
    cursor: pointer;
    padding: 20px 25px;
    position: relative;
    list-style: none;
    background-color: #b45a87;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#mainCuidados .cuidado-item[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#mainCuidados .cuidado-item summary:hover {
    background-color: #994d73;
}


#mainCuidados .cuidado-item summary h2 {
    font-size: 22px;
    color: #ffffff;
    display: inline-block;
}


#mainCuidados .cuidado-item summary::after {
    content: '▼';
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.5s ease-in-out;
}

#mainCuidados .cuidado-item[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
}


#mainCuidados .cuidado-item[open] .cuidado-conteudo {
    max-height: 1000px;
    border-top: 1px solid #ffc6d9;
    transition: max-height 0.3s ease-in, padding 0.5s ease-in, border 0.5s ease-in;
    margin: 0 20px;
}

.ul-cuidados {
    padding-top: 10px;
    padding-left: 20px;
    list-style: disc;
    margin-top: 20px;
}

.li-cuidados {
    font-size: 16px;
    color: #000000;
    margin-bottom: 12px;
}